<div class="row">
	<div class="col-md-6" >
		<h1>Weather in {{locationName}}  &nbsp;&nbsp; <span [class]="flagIcon"></span></h1>
		
	</div>
	<div class="col-md-6" >
		<form class="form-inline" >
            <!--
			<p class="text-right">
				<input type="text" class="form-control" id="inputLocation" placeholder="Other Location" ng-model="vm.newLocationName">
				<button type="submit" class="btn btn-default" ng-click="vm.LoadLocationDataWithLocationName(vm.newLocationName)">Search</button>
			</p>

            -->
		</form>
	</div>
</div>